services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: symfony_api
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    ports:
      - "8080:8080"
    environment:
      - APP_ENV=dev
    command: sh -c "tail -f /dev/null"
